<!DOCTYPE html>
<html>
  <head>
    <title>New <article class="">

    </article></title>
  </head>

  <body>
    <h1>
      List of Shows:
    </h1>
    <ul>
      <% @tv_shows.each do |show| %>
        <li><%= show.title %> (<%= show.network%>)</li>
      <% end %>
    </ul>
    <a href="/television_shows/new">New Show</a>
  </body>
</html>
